@media only screen and (max-width: 576px) {
  .bloqueo-movil {
    display: none !important;
  }
  .top-50pc {
    top: 3% !important;
  }
}

.degradado {
  background: linear-gradient(35deg, rgba(90, 79, 207, 0.3) 19%, rgba(0, 223, 255, 0.5) 93%);
}

.degradado2 {
  z-index: 10;
  margin: 0;
  width: auto;
  background: linear-gradient(
    180deg,
    rgb(0 0 0) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(255, 255, 255, 0) 43%,
    rgb(0 0 0) 100%
  );
  padding: 5rem !important;
  margin: -5rem;
}
.zinicial {
  z-index: 0;
}
