@media only screen and (max-width: 576px) {
  .bloqueo-movil {
    display: none !important;
  }
  .top-50pc {
    top: 1.2rem !important;
  }
  .bondades {
    margin-top: 1rem;
  }
}

.degradado {
  background: linear-gradient(145deg, rgba(90, 79, 207, 0.3) 30%, rgb(54 76 234 / 50%) 60%, rgba(0, 223, 255, 0.5) 93%);
}

.degradado2 {
  z-index: 10;
  width: auto;
  background: linear-gradient(
    180deg,
    rgb(0 0 0) -2%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%,
    rgb(0 0 0) 133%
  );
  padding: 5rem !important;
  margin: -5.1rem;
}

.zinicial {
  z-index: 0;
}

.colorpgris {
  color: #757575;
}
