@media only screen and (max-width: 576px) {
  .bloqueo-movil {
    display: none !important;
  }
  .top-50pc {
    top: 3% !important;
  }
}

.degradado {
  background: linear-gradient(180deg, rgba(90, 79, 207, 0.3) 0%, rgba(33, 203, 227, 0.3) 88%);
}
