@media only screen and (max-width: 576px) {
  .bloqueo-movil {
    display: none !important;
  }

  .bondades {
    margin-top: 1rem;
  }
  .padcompatibilidad {
    padding: 1rem !important;
  }
  .widthresponsive {
    width: 50% !important;
    margin-top: 1rem;
  }
  .degradado2 {
    margin: -7rem -2.3rem -7rem -7rem !important;
  }
}

@media only screen and (max-width: 765px) {
  .top-50pc {
    top: 1.2rem !important;
  }
}

.degradado {
  background: linear-gradient(
    145deg,
    rgba(90, 79, 207, 0.3) 30%,
    rgb(54, 76, 234, 0.5) 60%,
    rgba(0, 223, 255, 0.5) 93%
  );
}

.degradado2 {
  z-index: 10;
  width: auto;
  background: linear-gradient(
    180deg,
    rgb(0 0 0) -2%,
    rgba(255, 255, 255, 0) 90%,
    rgba(255, 255, 255, 0) 100%,
    rgb(0 0 0) 133%
  );
  padding: 5rem !important;
  margin: -7rem -5rem -7rem -7rem;
}

.zinicial {
  z-index: 0;
}

.colorpgris {
  color: #757575;
}

.widthresponsive {
  width: 20%;
  margin-top: 1rem;
}

.min-h-86vh {
  min-height: 86vh !important;
}

.separacionbuttom {
  padding-bottom: 2rem;
}

.autobombapadre {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  margin-top: -6.9rem;
  align-items: center;
  margin-left: 1rem;
}

.autobomba {
  justify-self: center;
}

.bg-indigo-lightest-10p,
.indigo-lightestp {
  color: #f0eeff;
}

@media only screen and (max-width: 765px) {
  .autobombapadre {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 31% 50%;
    align-content: center;
    margin-top: -3.9rem;
    margin-left: 0.5rem;
  }
  .autobomba {
    justify-self: center;
    margin-top: 0rem;
  }
  .autoimg {
    height: 21rem;
    padding-top: 1.5rem;
  }

  #t01 {
    color: #cccccc;
    width: -webkit-fill-available !important;
    margin: 0 2rem !important;
    margin-bottom: 5rem !important;
  }
}

@media only screen and (min-width: 1920px) {
  .autoimg {
    height: 40rem;
  }
}

.k4 {
  max-width: 1920px;
  display: grid;

  grid-template-columns: 100%;
  margin: 0 auto;
}

.blanco {
  opacity: 1;
  color: #cccccc;
}

#t01 th {
  background-color: rgba(240, 238, 255, 0.1);
  color: white;
}

#t01 {
  color: #cccccc;
  width: 50%;
  margin: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

tr {
  border-bottom: 1px solid #0e0e0e;
}
